.about-me {
  height: 100vh;
  background-image: url('../Resources/Mobile-backgrounds/mobile-back-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  &-page {
    @include page;
    align-items: center;
    justify-content: center;
  }

  &-container {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
  }
  &-img {
    width: 300px;
    margin-top: 5px;
  }
  &-description {
    line-height: 1.5;
    font-family: $main-font;
    font-size: 24px;
    letter-spacing: 5px;
    &-container {
      width: 60%;
      padding: 0 40px 0 40px;
    }
    &-strong {
      color: #15939e;
    }
  }
  &-title {
    @include section-title;
  }
  &-link {
    padding: 5px 15px 5px 15px;
    border: 2px solid black;
    font-family: $text-font;
    margin: 40px 0 20px 0px;
    font-size: 25px;
    letter-spacing: 5px;
    background-color: rgb(211, 208, 208);
    &-a {
      text-decoration: none;
      color: black;
    }
    &:hover {
      background: $main-pink;
    }
  }
}

@media all and (max-width: 1200px) and (min-width: 768px) {
  .about-me {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    &-container {
      align-items: flex-start;
      width: 80%;
      height: max-content;
    }
    &-img {
      width: 200px;
    }
    &-description {
      font-size: 18px;
    }
    &-title {
      @include section-title;
    }
  }
}

@media all and (max-width: 767px) {
  .about-me {
    @include mainComponent;
    &-page {
      @include page;
      height: max-content;
    }
    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      height: 100%;
      overflow: visible;
      margin-bottom: 200px;
      width: 100%;
    }
    &-img {
      display: none;
    }
    &-description {
      font-size: 14px;
      letter-spacing: 2px;
      &-container {
        padding: 0 40px 40px 40px;
      }
      &-strong {
        color: #15939e;
      }
    }
    &-title {
      @include section-title;
      margin-bottom: 30px;
      margin-top: 40px;
    }
    &-link {
      margin: 40px 0 20px 0px;
      font-size: 16px;
      letter-spacing: 5px;
      background-color: rgb(211, 208, 208);
      &-a {
        text-decoration: none;
        color: black;
      }
      &:hover {
        color: white;
        background: rgb(73, 67, 67);
      }
    }
  }
}
