.about-me {
  &-page {
    @include page;
    align-items: center;
    height: 100vh;
    position: absolute;
    z-index: 3;
  }
  &-container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  &-img {
    width: 300px;
    margin-top: 5px;
  }
  &-description {
    text-align: justify;
    font-family: $main-font;
    font-size: 22px;
    letter-spacing: 5px;
    &-container {
      width: 60%;
      padding: 0 40px 0 40px;
    }
    &-strong {
      color: #15939e;
    }
  }
  &-title {
    @include section-title;
    margin-bottom: 50px;
  }
  &-link {
    padding: 5px 15px 5px 15px;
    border: 2px solid black;
    font-family: $text-font;
    margin: 40px 0 20px 0px;
    font-size: 25px;
    letter-spacing: 5px;
    background-color: rgb(211, 208, 208);
    &-a {
      text-decoration: none;
      color: black;
    }
    &:hover {
      color: white;
      background: rgb(73, 67, 67);
    }
  }
  &-blue-div {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 100px;
    background-color: $main-blue;
  }
  &-polygon {
    &-yellow {
      width: 0;
      height: 0;
      border-left: 300px solid transparent;
      border-top: 300px solid transparent;
      border-right: 300px solid $main-yellow;
      border-bottom: 300px solid $main-yellow;
      &-container {
        display: flex;
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    &-pink {
      display: flex;
      position: absolute;
      z-index: 2;
      width: 0;
      height: 0;
      border-right: 10vw solid transparent;
      border-left: 140vw solid $main-pink;
      border-bottom: 14vw solid transparent;
      border-top: 0px solid transparent;
    }
  }
}

@media all and (max-width: 1200px) and (min-width: 768px) {
  .about-me {
    &-container {
      align-items: flex-start;
      width: 80%;
    }
    &-img {
      width: 200px;
    }
    &-description {
      font-size: 18px;
    }
    &-title {
      @include section-title;
      margin-bottom: 100px;
    }
  }
}

@media all and (max-width: 768px) {
  .about-me {
    &-title {
      @include section-title;
      margin-top: 200px;
      @media all and (max-width: 350px) {
        margin-top: 240px;
        margin-bottom: 140px;
      }
    }
    &-page {
      display: flex;
      overflow: scroll;
      justify-content: flex-start;
      align-items: center;
      overflow-x: hidden;
    }
    &-container {
      flex-direction: column;
      width: 100%;
    }
    &-img {
      display: none;
    }
    &-description {
      font-size: 18px;
      letter-spacing: 1px;
      &-container {
        padding: 0;
      }
    }
    &-link {
      padding: 5px 15px 5px 15px;
      margin: 15px 0 15px 0px;
      font-size: 18px;
      letter-spacing: 5px;
      &:hover {
        color: white;
        background: black;
      }
    }
  }
}
