@mixin section-title {
  font-size: 60px;
  font-family: $main-font;
  text-transform: uppercase;
  margin-top: 150px;
  font-family: $font;
  letter-spacing: 3px;
  @media all and (max-width: 1200px) and (min-width: 768px) {
    font-size: 45px;
  }
  @media all and (max-width: 768px) {
    font-size: 30px;
  }
}

@mixin page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@mixin boxShadow {
  box-shadow: 10px 10px 5px 0px rgb(167, 167, 167);
  border: 1px solid black;
  &:hover {
    box-shadow: 10px 10px 5px 0px rgba(93, 93, 93, 0.75);
    border: 1px rgba(93, 93, 93, 0.75) solid;
  }
}

@mixin mainComponent {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}
