// FONTS
$main-font: 'Rubik', Helvetica, Arial, sans-serif;
$text-font: 'Roboto Mono';

$font: 'Raleway', sans-serif;

// COLORS
$main-color: rgb(246, 191, 8);

$main-yellow: #f7ed69;
$main-pink: #fcc8ba;
$main-blue: #abdbdf;
