.skills {
  &-page {
    @include page;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../Resources/Mobile-backgrounds/mobile-skills-2.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    overflow: visible;
    margin-bottom: 200px;
  }
  &-title {
    @include section-title;
    margin-bottom: 80px;
    padding: 0 0 20px 0;
  }
}
.skill {
  &-ul {
    display: flex;
    justify-content: center;
  }
  &-el {
    &-container {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 0 60px 0 60px;
    }
    &-title {
      text-transform: uppercase;
      color: black;
      font-family: $text-font;
      font-size: 24px;
      padding: 15px 0 15px 0;
      letter-spacing: 4px;
      border: 1px solid black;
      &-container {
        text-align: center;
        width: 300px;
        &-técnicas {
          background-color: $main-pink;
        }
        &-soft-skills {
          background-color: $main-yellow;
        }
        &-comunicativas {
          background-color: $main-blue;
        }
      }
    }
  }
  &-list {
    &-container {
      border: 1px solid black;
      border-top: none;
      height: 400px;
      background-color: white;
    }
    &-el {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    &-li {
      color: black;
      text-transform: capitalize;
      font-family: $text-font;
      font-size: 24px;
      padding: 15px 0 15px 0;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .skills {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    &-page {
      @include page;
    }
    &-title {
      @include section-title;
      padding: 0 0 20px 0;
      margin-bottom: 30px;
    }
  }
  .skill {
    &-ul {
      flex-direction: column;
    }
    &-el {
      &-container {
        width: 500px;
        margin: 25px 0 25px 0;
        height: max-content;
        @include boxShadow;
      }
      &-title {
        font-size: 24px;
        padding: 10px 0 10px 0;
        &-container {
          width: 500px;
        }
      }
    }
    &-list {
      &-container {
        height: max-content;
      }
      &-el {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
      }
      &-li {
        font-size: 20px;
        padding: 0 15px 0 15px;
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .skills {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;

    &-page {
      @include page;
      height: max-content;
      justify-content: center;
      align-items: center;
    }
    &-title {
      @include section-title;
      padding: 0 0 20px 0;
      margin: 40px 0px 30px 0px;
    }
  }
  .skill {
    &-ul {
      flex-wrap: wrap;
      align-items: flex-start;
      height: 100%;
      overflow: visible;
      margin-bottom: 200px;
      flex-direction: column;
    }
    &-el {
      &-container {
        width: 270px;
        margin: 15px 0 15px 0;
        @include boxShadow;
      }
      &-title {
        font-size: 16px;
        padding: 10px 0 10px 0;
        &-container {
          width: 270px;
        }
      }
    }
    &-list {
      &-container {
        height: 75px;
      }
      &-el {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
      }
      &-li {
        font-size: 16px;
        padding: 0 15px 0 15px;
      }
    }
  }
}
@media all and (max-width: 320px) {
  .skills {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;

    &-page {
      background: $main-blue;
      @include page;
      height: max-content;
      justify-content: center;
      align-items: center;
    }
    &-title {
      @include section-title;
      padding: 0 0 20px 0;
      margin-bottom: 30px;
      margin-top: 40px;
    }
  }
  .skill {
    &-ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      overflow: visible;
      margin-bottom: 250px;
    }
    &-el {
      &-container {
        width: 240px;
        margin: 15px 0 15px 0;
        height: max-content;
        @include boxShadow;
      }
      &-title {
        font-size: 16px;
        padding: 10px 0 10px 0;
        &-container {
          width: 240px;
        }
      }
    }
    &-list {
      &-container {
        height: max-content;
      }
      &-el {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
      }
      &-li {
        font-size: 16px;
        padding: 0 15px 0 15px;
      }
    }
  }
}
